- @hide_breadcrumbs = true
- @hide_top_links = true
- page_title    '新建项目'
- header_title  "项目", dashboard_projects_path
- active_tab = local_assigns.fetch(:active_tab, 'blank')

.project-edit-container.prepend-top-default
  .project-edit-errors
    = render 'projects/errors'
  .row
    .col-lg-3.profile-settings-sidebar
      %h4.prepend-top-0
        = _('New project')
      %p
        - among_other_things_link = link_to _('among other things'), help_page_path("user/project/index.md", anchor: "projects-features"), target: '_blank'
        = _('A project is where you house your files (repository), plan your work (issues), and publish your documentation (wiki), %{among_other_things_link}.').html_safe % { among_other_things_link: among_other_things_link }
      %p
        = _('All features are enabled for blank projects, from templates, or when importing, but you can disable them afterward in the project settings.')
      = render_if_exists 'projects/new_ci_cd_banner_external_repo'
      %p
        - pages_getting_started_guide = link_to _('Pages getting started guide'), help_page_path("user/project/pages/getting_started_part_two", anchor: "fork-a-project-to-get-started-from"), target: '_blank'
        = _('Information about additional Pages templates and how to install them can be found in our %{pages_getting_started_guide}.').html_safe % { pages_getting_started_guide: pages_getting_started_guide }
      .md
        = brand_new_project_guidelines
      %p
        %strong= _("Tip:")
        = _("You can also create a project from the command line.")
        %a.push-new-project-tip{ data: { title: _("Push to create a project") }, href: help_page_path('gitlab-basics/create-project', anchor: 'push-to-create-a-new-project'), target: "_blank", rel: "noopener noreferrer" }
          = _("Show command")
        %template.push-new-project-tip-template= render partial: "new_project_push_tip"

    .col-lg-9.js-toggle-container
      %ul.nav.nav-tabs.nav-links.gitlab-tabs{ role: 'tablist' }
        %li.nav-item{ role: 'presentation' }
          %a.nav-link.active{ href: '#blank-project-pane', id: 'blank-project-tab', data: { toggle: 'tab', track_label: 'blank_project', track_event: "click_tab" }, role: 'tab' }
            %span.d-none.d-sm-block 空白项目
            %span.d-block.d-sm-none 空白
        %li.nav-item{ role: 'presentation' }
          %a.nav-link{ href: '#create-from-template-pane', id: 'create-from-template-tab', data: { toggle: 'tab', track_label: 'create_from_template', track_event: "click_tab" }, role: 'tab' }
            %span.d-none.d-sm-block.qa-project-create-from-template-tab Create from template
            %span.d-block.d-sm-none 模板
        %li.nav-item{ role: 'presentation' }
          %a.nav-link{ href: '#import-project-pane', id: 'import-project-tab', data: { toggle: 'tab', track_label: 'import_project', track_event: "click_tab" }, role: 'tab' }
            %span.d-none.d-sm-block 导入项目
            %span.d-block.d-sm-none 导入
        = render_if_exists 'projects/new_ci_cd_only_project_tab', active_tab: active_tab

      .tab-content.gitlab-tab-content
        .tab-pane{ id: 'blank-project-pane', class: active_when(active_tab == 'blank'), role: 'tabpanel' }
          = form_for @project, html: { class: 'new_project' } do |f|
            = render 'new_project_fields', f: f, project_name_id: "blank-project-name"

        #create-from-template-pane.tab-pane.px-0.pb-0{ class: active_when(active_tab == 'template'), role: 'tabpanel' }
          .card-slim.m-4.p-4
            %div
              - contributing_templates_url = 'https://gitlab.com/gitlab-org/project-templates/contributing'
              - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: contributing_templates_url }
              = _('Learn how to %{link_start}contribute to the built-in templates%{link_end}').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
          = form_for @project, html: { class: 'new_project' } do |f|
            .project-template
              .form-group
                %div
                  = render 'project_templates', f: f, project: @project

        .tab-pane.import-project-pane.js-toggle-container{ id: 'import-project-pane', class: active_when(active_tab == 'import'), role: 'tabpanel' }
          - if import_sources_enabled?
            = render 'import_project_pane', active_tab: active_tab
          - else
            .nothing-here-block
              %h4 没有可用的导入项目
              %p 联系您的管理员启用项目导入功能

        = render_if_exists 'projects/new_ci_cd_only_project_pane', active_tab: active_tab

.save-project-loader.d-none
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在创建项目 &amp; 版本库。
    %p 请稍候，页面会处理完成后自动刷新。
